log.*.isa
sim.prj

sim_exceptions.c
sim_exceptions.h
sim_ffi.h
sim_funs.c
sim_types.h
sim_vars.c
sim_vars.h

sim_exceptions.cpp
sim_exceptions.hpp
sim_ffi.hpp
sim_funs.cpp
sim_funs.hpp
sim_types.hpp
sim_vars.cpp
sim_vars.hpp

simulator_*

test.s
test.o
test.elf
